spring:
  data:
    redis:
      host: localhost
      port: 6379
      password:

no.nav.security.jwt:
  issuer.azuread:
    discoveryurl: http://localhost:${mock-oauth2-server.port}/azuread/.well-known/openid-configuration
    accepted_audience: someaudience

springdoc:
  api-docs:
    enabled: true

client:
  fiks_digisos_endpoint_url: ${FIKS_DIGISOS_ENDPOINT_URL:https://api.fiks.test.ks.no}
  fiks_integrasjonid: ${INTEGRASJONSID_FIKS}
  fiks_integrasjonpassord: ${INTEGRASJONPASSORD_FIKS}
  norg_endpoint_url: ${NORG_ENDPOINT_URL:norg_endpoint_url}
  norg_oppslag_url: ${NORG_OPPSLAG_URL:https://norg2-frontend.intern.dev.nav.no/#/startsok?enhetNr=}
  pdl_endpoint_url: ${PDL_ENDPOINT_URL:pdl_endpoint_url}
  pdl_scope: ${PDL_SCOPE:pdl_scope}
  skjermede_personer_scope: ${SKJERMEDE_PERSONER_SCOPE:skjermede_personer_scope}
  skjermede_personer_endpoint_url: ${SKJERMEDE_PERSONER_ENDPOINT_URL:skjermede_personer_endpoint_url}

modia_baseurl: ${MODIA_BASEURL:http://localhost:3000/sosialhjelp/modia}
