spring:
  main:
    banner-mode: 'off'
  application:
    name: "sosialhjelp-modia-api"
  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
      password: ${REDIS_PASSWORD}
  codec:
    max-in-memory-size: 10MB

cache_time_to_live_seconds: ${CACHE_TIME_TO_LIVE_SECONDS:100}
dokument_cache_time_to_live_seconds: ${DOKUMENT_CACHE_TIME_TO_LIVE_SECONDS:1000}

retry_fiks_max_attempts: 5
retry_fiks_initial_delay: 100 # initial delay in ms

server:
  port: 8383
  servlet:
    context-path: '/sosialhjelp/modia-api'

# Prometheus
management:
  endpoints:
    web:
      base-path: "/internal"
      exposure:
        include: info, health, metrics, prometheus

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED}
  swagger-ui:
    path: swagger-ui.html
  pathsToMatch: /**/api/**

#Environment-variabler som settes av NAIS
client:
  fiks_digisos_endpoint_url: ${FIKS_DIGISOS_ENDPOINT_URL}
  fiks_integrasjonid: ${INTEGRASJONSID_FIKS}
  fiks_integrasjonpassord: ${INTEGRASJONPASSORD_FIKS}
  norg_endpoint_url: ${NORG_ENDPOINT_URL}
  norg_oppslag_url: ${NORG_OPPSLAG_URL}
  pdl_endpoint_url: ${PDL_ENDPOINT_URL}
  pdl_scope: ${PDL_SCOPE}
  skjermede_personer_scope: ${SKJERMEDE_PERSONER_SCOPE}
  skjermede_personer_endpoint_url: ${SKJERMEDE_PERSONER_ENDPOINT_URL}

modia_baseurl: ${MODIA_BASEURL}

#Token-validering
no.nav.security.jwt:
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}

