<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="log-kibana">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <maxDepthPerThrowable>20</maxDepthPerThrowable>
                </throwableConverter>
            </encoder>
        </appender>

        <logger name="no.nav.sosialhjelp.modia" level="INFO"/>
        <logger name="no.nav.security.token.support" level="debug"/>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>

        <logger level="OFF" name="sporingslogg"/>
    </springProfile>

    <springProfile name="log-console">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%-60.60logger{60}) %cyan(:) %m%n</pattern>
            </encoder>
        </appender>

        <logger level="INFO" name="sporingslogg" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="no.nav.sosialhjelp.modia" level="DEBUG"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="log-audit">
        <appender name="sporingslogg" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%msg%n</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>sosialhjelp-modia-api</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="sporingslogg" additivity="false">
            <appender-ref ref="sporingslogg" />
        </logger>

    </springProfile>

</configuration>