<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="log-kibana">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <logger name="no.nav.sbl.sosialhjelpmodiaapi" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="log-console">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%-20.20logger{19}) %cyan(:) %m%n</pattern>
            </encoder>
        </appender>

        <logger name="no.nav.sbl.sosialhjelpmodiaapi" level="DEBUG"/>

        <logger name="org.springframework" level="INFO"/>
        <logger name="org.springframework.security" level="INFO"/>
        <logger name="org.springframework.web" level="INFO"/>

        <logger name="io.ktor.client" level="DEBUG"/>
        <logger name="org.apache.http" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

</configuration>