name: Deploy til prod
on:
  workflow_run:
    workflows: ['Build Kotlin, Run Lint and Test']
    branches: [main]
    types:
      - completed
  repository_dispatch:
    types: [deploy_prod_tag]
  workflow_dispatch:

jobs:
  deploy-to-prod:
    name: "Deploy to prod-gcp"
    if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'repository_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: write
      id-token: write
    uses: navikt/sosialhjelp-ci/.github/workflows/deploy_app.yml@v17
    with:
      cluster-name: prod-gcp
      resource-folder: 'prod'
      resource-name: prod-gcp
    secrets: inherit
